
$img        :   "../images/1.jpg";
$image_menu :   "../images/menu.jpg";
$white      :   #ffffff;
$post_date_color    :   #F8F9FA;
$px40       :   40px;
$px20       :   20px;
$px10       :   10px;


@mixin background-image($img) {
    background-image: url('#{$img}');
    background-repeat: no-repeat;
} 
@mixin background-image($image_menu) {
    background-image: url('#{$image_menu}');
    background-repeat: no-repeat;
} 
// opacity mixin
@mixin opacity($opacity: 0.5) {
    filter: alpha(opacity=$opacity*100);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=#{$opacity*100});
    opacity: $opacity;
}

body {
    @include background-image($img);
}

.image-menu {
    @include background-image($image_menu);
    @include opacity(0.7); 
}

.color-menu-font,a {
    color: $white;
}

 @mixin box-shadow($horiz, $vert, $blur, $spread, $color){
    -webkit-box-shadow: $horiz $vert $blur $spread $color;
    -moz-box-shadow: $horiz $vert $blur $spread $color;
    box-shadow: $horiz $vert $blur $spread $color;
  }

.shadow-container,.shadow-reply {
    @include box-shadow(3px, 3px, 2px, 1px,#E27001);
    margin-top: 20px;
    margin-left: 10px;
} 


.margin-botton40 {
    margin-bottom: $px40;    
}
.post-date {
    margin-top: $px20;
    margin: $px20;
    background-color: $post_date_color;
}
.post-info {
    margin: $px20;
    margin-left: $px20;
}

.subscription-desc {
    padding-bottom: $px10;    
}

.shadow {
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    @include box-shadow(3px, 3px, 5px, 6px,#12351F);
  }