<!DOCTYPE html>
<html ng-app="tibian" ng-controller="settings as settingsCtrl">
    <head>
        <title> Tibianlife</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="keywords" content="tibia tibianlife lifetibia worldtibia tibiagamers gamerstibia "/>
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet" type="text/css">
       
    </head>
    <body>
        <div class="row">
            <div class="shadow-container">
                <div class="row">  
                    <div class="col-lg-12">
                        <img src="images/test.jpg" class="img-fluid" alt="Tobias the Tall">
                    </div>                    
                </div>
            </div>             
        </div>    
        <div class="row">
            <div class="col col-lg-8">                    
                <div class="container shadow-container">                        
                    <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-faded navbar-fixed-img">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <img src="images/tibianlife.gif" class="image-logo">                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                            <a class="navbar-brand" ui-sref="main"><img src="images/parchment.png"></a>
                                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                <li class="nav-item active">
                                    <a class="nav-link text-martel" ui-sref="main">HOME <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-martel" href="#!/posts">POST</a>
                                </li>
                                </ul>
                        </div>
                        <div class="text-martel">
                                <a ui-sref="main" ng-click="settingsCtrl.changeLang('es')">
                                {{'LANG' | translate}}</a>
                                <a ui-sref="main" ng-click="settingsCtrl.changeLang('en')">{'LANG' | translate}}</a>
                        </div>
                    </nav>
                    
                    <!--   <nav class="navbar navbar-light bg-light">
                            <div class="navbar-brand mb-0 h1">Welcome to tibian life</div>
                    </nav> -->
                    
                    <ui-view></ui-view>                        
                    
                        <!--   
                    <div class="post-info">
                        <p class="text-left">
                        In this blog I will describe the adventures of "Tobias the Tall" and the challenge set for this year, to get premium account buying tibia coins with gold obtained exclusively in game.
                        </p>    
                    </div>
                    <div class="post-date">Posted:16-feb-2018 / by Frodo  / 9 Comments
                    </div>
                    <div class="post-description">
                        <a href="posts/postTobias.html">
                            <div class="text-center"><img src="images/previewTobias_the_tall.jpg" class="img-fluid" alt="Tobias the Tall">
                            </div>
                        </a>
                        <p class="text-left">
                            Si no conoces Tibia, se trata de un mmorpg creado en 1997 por un grupo de estudiantes de Regensburg en Alemania que gracias al suceso del juego formaron la compañia CipSoft (http://www.cipsoft.com/) en el año 2001... (Aca poner un poco de la reseña de página oficial o wiki)
                        </p>       
                        <p class="text-left">      
                            Siendo un juego que requiere muy poco en nivel de gráficos y ancho de banda de internet sumado a que es gratuito esto hizo que tuviera mucho éxito en paises tercermundistas especialmente en sud america siendo Brazil uno de los países con mayor presencia en el juego.
                        </p>
                        <p class="text-left">       
                            Tibia fue mi primer juego de rol en línea, una de las cosas que más me llamó la atención fue el hecho de que uno se pudiera encontrar en el mundo virtual con gente de cualquier lugar del mundo, hacer amistades y socializar.
                        </p>
                        <p class="text-left">       
                            Pero el éxito del juego fue tambien un problema para Cip, ya que se instalaron mercados alternativos para vender gold or personajes, lo cual atrajo un gran número de tramposos y botters. A su vez mafias se hicieron dentro del juego amenazando cobrando a los jugadores por acceder a ciertas áreas y amenazando a cualquiera que no se quisiera someter a su dominio.
                        </p>
                        <p class="text-left">        
                            Debido a esto, los jugadores se fueron retirando y los mundos empezaron a quedar desiertos, eso hasta el año pasado cuando Cip implementó muchas mejoras a su cliente que hacen que el juego sea mucho mas atractivo, además con la incorporación de battleye se solucionó el problema de los bots, esa fue la razón que me motivó a volver al juego y proponerme el desafío de logar conseguir premmium con dinero del juego, de esta forma puedo disfrutar del contenido en Zonas de otra forma no visitaría y que fueron parte de mis primeros años en Tibia, como por ej Kazordoon, Thais Dragons o Plains of Havoc. 
                        </p> 
                        <p class="text-left">       
                            A medida que voy avanzando en el juego es posible que algunas secciones contengan información que puede considerarse Quest Spoilers, intentaré poner un warning si es posible. 
                            Sin mas que agregar, que comienze la aventura.
                        
                        </p>
                    </div>-->
                </div> <!-- end div container -->
            </div><!-- end col  -->
            <div class="col col-lg-4">
                <div class="container">
                    <div class="d-flex justify-content-end">
                        <nav class="navbar navbar-light bg-faded">
                            <div class="shadow">
                                <a class="navbar-brand">Subscribe</a>    
                                <form class="form-inline">
                                    <div class="subscription-desc">
                                        Enter your email address to receive new blog post notifications in your inbox.
                                    </div>    
                                    <input class="form-control form-control-sm" type="email" placeholder="e-mail">
                                    <button type="button" class="btn btn-outline-success btn-sm">Subscribe!</button>
                                </form>                                     
                            </div>
                                
                            <!--   <div class="d-flex flex-column">
                                    <div class="p-2">Flex item 1</div>
                                    <div class="p-2">Flex item 2</div>
                                    <div class="p-2">Flex item 3</div>
                                </div> -->
                        </nav>
                    </div>
                </div>    
            </div>
        </div>    <!-- end row container -->  
               
        <!-- end div container-fluid -->
        <!-- tibian -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
         <!-- angular -->
         <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
         <script src="https://unpkg.com/angular-ui-router@0.4.2/release/angular-ui-router.min.js">
         </script>
        <script src="https://cdn.rawgit.com/angular-translate/bower-angular-translate/2.15.2/angular-translate.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-url/2.15.2/angular-translate-loader-url.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-static-files/2.15.2/angular-translate-loader-static-files.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-partial/2.15.2/angular-translate-loader-partial.min.js"></script>
         <script id="dsq-count-scr" src="//http-tibianlife-com.disqus.com/count.js" async></script>
         <!-- tibian -->
         <script src="js/tibian.js"></script>         
         <script src="js/routes.js"></script>
         <script src="js/settings.js"></script>
         <script src="js/translate.js"></script>
         <script src="posts/post.js"></script>                     
    </body>
</html>