<img src="assets/images/posts/adventure-begins/b.png" alt="letter tibianlife welcome" class="img-fluid image-b">
<h2>ienvenido a Tibianlife</h2>
<h3>Descubre el emocionante y masivo multijuego de role online (MMORPG)</h3>
<p>
    <img src="assets/images/posts/adventure-begins/tibia-game-presentation.jpg" alt="tibia online role-playing game" class="float-right">
    Si no conoces Tibia, se trata de un mmorpg creado en 1997 por un grupo de estudiantes de Regensburg en Alemania que gracias al suceso del juego formaron la compañia <a href="http://www.cipsoft.com/" target="_blank">CipSoft</a> <i class="fas fa-external-link-alt"></i> en el año 2001. Traducción desde su página oficial:
</p>
<blockquote class="blockquote">CipSoft GmbH fue fundada en Junio del 2001 por Guido Lübke, Stephan Payer, Ulrich Schlott y Stephan Vogler. Sin embargo el desarrollo de Tibia, nuestro primer producto comenzó mucho antes. De hecho, fue desarrollado como un nuestro hobby mientras todavía operabamos bajo el nombre de CIP Producciones. A pesar de todo, gracias a un pensado desarrollo gradual, una gran comunidad de fans y a la experiencia de muchos años logramos generar utilidades desde el inicio.
    
La idea de crear un juego de rol online nació en el otoño de 1995. En contraste con los juegos de multi usuario basados en texto (MUDs), que eran común en aquel entonces, Tibia tendría una interfaz gráfica que le daría a los jugadores una mejor idea de el mundo en el que se encontraban.
    
En Enero de 1997, estabamos listos para lanzar un servidor permanente al público. El juego ha sido continuamente mejorado desde entonces y el número de jugadores nunca ceso de crecer, debiendose, entre otras cosas, al soporte recibido por parte de nuestros muchos sitios de fanáticos.
    
El 2001, las cuentas premmium fueron introducidas, lo que se convirtió rápidamente en la principal fuente de ingresos. Gracias al crecimiento sustentable, Tibia es hasta hoy en dia uno de los mayores juegos de rol en línea en Europa.
</blockquote>    
<p>
    Siendo un juego que requiere muy poco en nivel de gráficos y ancho de banda de internet sumado a que es gratuito esto hizo que tuviera mucho éxito en paises tercermundistas especialmente en sud america siendo Brazil uno de los países con mayor presencia en el juego.
</p>    
  <div class="center-image">
  <img src="assets/images/posts/adventure-begins/tobias-the-tall-big.png" alt="Tobias the Tall tibian life" class="img-fluid">
</div>
<br>
<p>
Tibia fue mi primer juego de rol en línea, una de las cosas que más me llamó la atención fue el hecho de que uno se pudiera encontrar en el mundo virtual con gente de cualquier lugar del mundo, hacer amistades y socializar.

Pero el éxito del juego fue tambien un problema para Cip, ya que se instalaron mercados alternativos para vender gold or personajes, lo cual atrajo un gran número de tramposos y botters. A su vez mafias se hicieron dentro del juego amenazando cobrando a los jugadores por acceder a ciertas áreas y amenazando a cualquiera que no se quisiera someter a su dominio.
</p>
<p>
Debido a esto, los jugadores se fueron retirando y los mundos empezaron a quedar desiertos, eso hasta el año pasado cuando Cip implementó muchas mejoras a su cliente que hacen que el juego sea mucho mas atractivo, además con la incorporación de battleye se solucionó el problema de los bots, esa fue la razón que me motivó a volver al juego y proponerme el desafío de logar conseguir premmium con dinero del juego, de esta forma puedo disfrutar del contenido en Zonas de otra forma no visitaría y que fueron parte de mis primeros años en Tibia, como por ejemplo: <a href="http://tibia.wikia.com/wiki/Kazordoon" target="_blank">Kazordoon</a> <i class="fas fa-external-link-alt"></i>, <a href="http://tibia.wikia.com/wiki/Thais_Dragon_Lair" target="_blank">Thais Dragons</a> <i class="fas fa-external-link-alt"></i> or <a href="http://tibia.wikia.com/wiki/Plains_of_Havoc" target="_blank"> Plains of Havoc.</a> <i class="fas fa-external-link-alt"></i>

A medida que voy avanzando en el juego es posible que algunas secciones contengan información que puede considerarse Quest Spoilers, intentaré poner un warning si es posible. 

Sin mas que agregar, que comience la aventura.
</p>
<app-post-footer postName="aventura-comienza"></app-post-footer>
