#language-selection a {
    cursor: pointer;
}

.image-logo {
    width: 400px;
    position: absolute;
    top: -60px;
    left: 10px;
}
.navbar-fixed-img {
    bottom: 55px;
    padding-bottom: 0px;
}
