<div class="container">
  <div class="d-flex justify-content-end">
      <nav class="navbar navbar-light bg-faded">
          <div class="shadow">
              <a class="navbar-brand">Subscribe</a>
              <form class="form-inline">
                  <div class="subscription-desc">
                      Enter your email address to receive new blog post notifications in your inbox.
                  </div>
                  <input class="form-control form-control-sm" type="email" placeholder="e-mail">
                  <button type="button" class="btn btn-outline-success btn-sm">Subscribe!</button>
              </form>
          </div>
      </nav>
  </div>
</div>
