/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("images/1.jpg");
}

/* martel-sans-regular - latin */
@font-face {
    font-family: 'Martel Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/martel-sans-v4-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Martel Sans Regular'), local('MartelSans-Regular'),
         url('fonts/martel-sans-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/martel-sans-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/martel-sans-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/martel-sans-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/martel-sans-v4-latin-regular.svg#MartelSans') format('svg'); /* Legacy iOS */
}

@mixin box-shadow($horiz, $vert, $blur, $spread, $color){
    -webkit-box-shadow: $horiz $vert $blur $spread $color;
    -moz-box-shadow: $horiz $vert $blur $spread $color;
    box-shadow: $horiz $vert $blur $spread $color;
}

.shadow {
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    @include box-shadow(3px, 3px, 5px, 6px,#12351F);
}
